{% extends "main.html" %}
{% block content %}
<h2> Are you sure that you want to delete {{genre.name}}? </h2>
<form action="#" method = 'post'>
	<form action="{{url_for('deleteGenres', genre_id=genre.id) }}" method = 'post'>
	<button type="submit" class="btn btn-default delete" id="submit" type="submit">
	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
	<button class="btn btn-default delete">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			<a href = "{{ url_for('showGenres') }}">
				Cancel
			</a>
		</button>
</form>
{% endblock %}
