{% extends "main.html" %}
{% block content %}
{% include "genre_panel.html" %}
	<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<h2>Latest Movies
						<div class="pull-right">
							<a href = "{{ url_for('newMovie') }}">
								<button class="btn btn-info">
									<span class="glyphicon glyphicon-film" aria-hidden="true"></span> 
										 Add Movie
								</button>
							</a>
						</div>
					</h2>
				</div>
			</div>
			{%include  "genre_list.html"%}
	</div>

{% endblock %}
